.main{
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    width: 30vw;
    height: 400px;
    background-color: #C9FDC8;
    border-radius: 10px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}