/* handles both login and register pages */
.main{
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    width: 30vw;
    height: 420px;
    background-color: #abf5aa;
    border-radius: 10px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form input{
    height: 20px;
    padding: 2px;
    border: none;
    outline: none;
    border-radius: 5px;

}
form .sub-btn{
    color: rgb(245, 247, 245);
    background-color: rgb(55, 161, 55);
    height: 22px;
    width: 100px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;

}
form p{
    margin-left: auto;
    margin-right: auto;
    font-size: large;
}
form a{
    font-weight: bold;
    text-decoration: none;
    color: rgb(5, 54, 5);
}