<div class="nav">
    <div class="logo">
        DM Shopie
    </div>
    <div class="search">
        <form action="">
            <button  class="s-btn"><img src="assets/jakob-owens-JzJSybPFb3s-unsplash.jpg" alt="" class="search-img"></button>
            <input type="text" placeholder="search">
        </form>
    </div>
    <div class="menu">
        <a href=""routerLink="/">Cart</a>
        <a href=""routerLink="/register">Register</a>
        <a href=""routerLink="/login">Login</a>
        <a href=""routerLink="">Logout</a>
    </div>
</div>
<div class="side">
    <div class="categories">
        <h2>Categories</h2>
        <button> Mobile Phone</button>
        <button> Clothes</button>
        <button>Electronics</button>    
    </div>
</div>