<div class="main">
    <form action="">
        <p></p>
        <h2>Register</h2>
        <label for="">Full Name</label>
        <input type="text" placeholder="Enter full name">
        <label for="">Username</label>
        <input type="text" placeholder="Enter username">
        <label for="">Email</label>
        <input type="Email" placeholder="Enter your email">
        <label for="">Password</label>
        <input type="password"  placeholder="Enter a password">
        <input type="submit" value="Register">
        
        <p><a href=""routerLink="/login">Not yet a user? login</a></p>
    </form>
</div>

