<app-side-nav></app-side-nav>

<div class="main">
    <div class="add-item">
        <h2>Add a product</h2> 
        <form action="">
            <input type="text" placeholder="Product name">
            <input type="text" placeholder="products description">
            <input type="text" placeholder="Price Now">
            <input type="text" placeholder="Price was">
            <input type="text" placeholder="classification">
            <input type="text" placeholder="category">
            <input type="submit" value="Add Item">
            <a href="" routerLink="/admin"><button>View added items</button></a>
            
        </form>          
    </div>
</div>